<%- include('includes/header.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="https://scontent-hkg4-1.xx.fbcdn.net/v/t1.0-9/120330698_3205841909544462_4194717209477845021_o.jpg?_nc_cat=106&ccb=2&_nc_sid=730e14&_nc_ohc=I6rGEbtA1OAAX974cRH&_nc_ht=scontent-hkg4-1.xx&oh=81d1951a5ed77715c1816c0b68ad41c3&oe=6003E0E7"
                                alt="A Book">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$19.99</h2>
                            <p class="product__description">A very interesting book about so many even more interesting things!</p>
                        </div>
                        <div class="card__actions">
                            <button class="btn">Add to Cart</button>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('includes/footer.ejs') %>