<%- include('includes/header.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="https://scontent.fdad3-1.fna.fbcdn.net/v/t1.0-9/124398839_2762293540694986_2834260749970525533_n.jpg?_nc_cat=110&ccb=2&_nc_sid=8bfeb9&_nc_ohc=-oD0iJWyHWkAX9mxv-K&_nc_ht=scontent.fdad3-1.fna&oh=941714f476391db7bb06faee2b990a83&oe=5FFF964A"
                                alt="A Book">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$19.99</h2>
                            <p class="product__description">A very interesting book about so many even more interesting things!</p>
                        </div>
                        <div class="card__actions">
                            <button class="btn">Add to Cart</button>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('includes/footer.ejs') %>