<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="https://scontent.fdad3-2.fna.fbcdn.net/v/t1.0-9/131356175_1822553534582281_3836493566778764675_o.jpg?_nc_cat=1&ccb=2&_nc_sid=8bfeb9&_nc_ohc=3TmVDOSfNB0AX_GCsH8&_nc_ht=scontent.fdad3-2.fna&oh=93908860dbea075510eb527a928a128c&oe=6003146B"
                                alt="A Book">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$19.99</h2>
                            <p class="product__description">A very interesting book about so many even more interesting things!</p>
                        </div>
                        <div class="card__actions">
                            <button class="btn">Add to Cart</button>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../includes/footer.ejs') %>